// styles.scss
.testing {
  width: percentage(5/7);
  @media all and (max-width: 1000px) {
    width:100%;
  }
}


body{
  background: silver;
  display: flex;
  box-sizing: border-box;
  transition: transform 1s;
  .page-wrapper{
    width: 100%;
  }

  @media all and (max-width: 1000px) {
    width:80%;
  }
}

.section-one{
  width: 1000px;
  height: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  background-color: wheat;
}
